body {
    background-color: #f8f9fa;
    font-family: 'Segoe UI', sans-serif;
  }
  
  .form-step {
    display: none;
  }
  
  .form-step.active {
    display: block;
  }
  .form-step:not(.d-none) {
    display: block;
  }
  .btn-step {
    margin-top: 20px;
  }
  
  input[type="number"]::-webkit-inner-spin-button, 
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  